
    {% extends 'base.html' %}
    {% block title %}login{% endblock %}
    {% block body %}

    <!-- Container -->
		<div class="">
      <div class="rounded-lg justify-center shadow-md">
				<!-- Row -->
				<div class="justify-center flex rounded-lg">
					<!-- Col -->
          <div class="bg-gray-400 hidden lg:inline-block lg:w-1/2 bg-cover rounded-2-lg"> <img src="https://source.unsplash.com/oWTW-jNGl9I" width: "auto", height: "70%", alt="">
					</div><!-- Col -->
					<div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">
						<div class="px-8 mb-4 text-center">
							<h3 class="pt-4 mb-2 text-2xl">Sign In:
                <ul></h3>
              {% if messages %}
                <div>
                  <strong>Messages:</strong>
                  <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
						</div>
            <hr class="mb-6 border-t" />
							<div class="mb-6 text-center">
								{% block content %}
                {% endblock %}
							</div>
							<hr class="mb-6 border-t" />
					</div>
        </div>
      </ul>
    </div>
    </div>
  </div>
  {% endblock %}
 
